* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgrey;
    margin: 0 auto;
}

.header {
    background-color: purple;
    padding: 10px 0px 20px 0px;
}

.header h1 {
    display: inline-block;
    background-color: lavender;
    color: purple;
    padding: 5px 60px 5px 5px;
}

.header nav {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.header nav ul li {
    display: inline-block;
}

.header nav ul li a {
    text-decoration: none;
    color: lavender;
    font-size: 20px;
    margin: 0 10px;
    padding: 0px;
}

.hero {
    width: 100%;
    background-size: cover;
    height: 545px;
    background-image: url(/assets/images/portfolio-banner.jpg);
}

.hero h2 {
    position: absolute;
    display: block;
    top: 350px;
    right: 400px;
    font-size: 30px;
    background-color: lavender;
    color: purple;
    padding: 10px;
}

main {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}

section h2 {
    color: navy;
    border-bottom: 5px solid navy;
    display: inline-block;
    font-size: 50px;
    margin: 0px auto 30px auto;
    font-size: 4rem;
    text-align: center;
}

#about-me {
    text-align: center;
    margin-bottom: 30px;
}

#about-me p {
    text-align: left;
    width: 75%;
    margin: 0px auto 15px auto;
}

#about-me img {
    display: block;
    height: 400px;
    padding-top: 10px;
    margin: 0 auto;
}

.work {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

#work .work-header {
    text-align: center;
}

.work .card-header {
    font-size: 2em;
}

.project-image a {
    text-decoration: none;
}

.project-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.row figure {
    display: flex;
    flex-direction: row;
    align-items: left;
    border: 10px solid lavender;
    margin: 30px;
}

.row figure:hover {
    box-shadow: 10px 5px 5px lightblue;
}

.row:hover {
    mix-blend-mode: multiply;
}

.row .card-body {
    color: purple;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    padding: 10px;
}

.row .card-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-2,
.project-4 {
    float: left;
}

.project-3,
.project-5 {
    float: right;
}

.project-1 {
    margin: 0 auto;
}

#contact-me {
    padding: 40px 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    clear: both;
}

#contact-me ul li {
    display: inline-block;
    margin: 0 auto;
}

#contact-me ul li a {
    text-decoration: underline;
    color: navy;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: purple;
    color: lavender;
    border-top: 10px solid lightblue;
}

@media screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hero {
        display: none;
    }
    
    #work {
        clear: both;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .row .card-image {
        gap: 15px;
        margin: 20px;
    }

    .project-1 img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 90px;
        max-width: 600px;
    }

    .project-1 .card-body {
        text-align: center;
        justify-content: center;
        padding: 5px;
        max-width: 600px;
    }

    #contact-me {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #contact-me ul li {
        display: block;
        padding: 10px;
    }
    
}

@media screen and (max-width: 770px) {
    .header {
        padding: 20px;
        text-align: center;
    }

    .header nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .project-1 .card-body {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    
}